{% extends "base.html" %}
{% block title %} Employee Dashboard{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Phone No.</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.username }}</td>
                <td>{{ employee.phone_number }}</td>
                <td>{{ employee.role }}</td>
            </tr>
            {% endfor %}
        </tbody>

{% endblock %}